@use "../../../styles/variables.scss" as *;

.loader {
  display: flex;
  align-items: center;
  justify-content: center;

  &__spinner {
    border-radius: 50%;
    border-style: solid;
    border-color: $color-gray-200;
    border-top-color: $color-primary;
    animation: spin 0.8s linear infinite;
  }

  &--sm {
    .loader__spinner {
      width: 16px;
      height: 16px;
      border-width: 2px;
    }
  }

  &--md {
    .loader__spinner {
      width: 24px;
      height: 24px;
      border-width: 3px;
    }
  }

  &--lg {
    .loader__spinner {
      width: 36px;
      height: 36px;
      border-width: 4px;
    }
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
