@use "../../../styles/variables.scss" as *;

.message {
  padding: $spacing-12 $spacing-16;
  border-radius: $border-radius-base;
  font-size: $font-size-sm;
  line-height: $line-height-normal;

  &--info {
    background-color: rgba($color-info, 0.1);
    color: $color-info;
    border: 1px solid rgba($color-info, 0.3);
  }

  &--error {
    background-color: rgba($color-error, 0.1);
    color: $color-error;
    border: 1px solid rgba($color-error, 0.3);
  }

  &--warning {
    background-color: rgba($color-warning, 0.1);
    color: $color-warning;
    border: 1px solid rgba($color-warning, 0.3);
  }

  &--success {
    background-color: rgba($color-success, 0.1);
    color: $color-success;
    border: 1px solid rgba($color-success, 0.3);
  }
}
