@use "../../../styles/variables.scss" as *;
@use "../../../styles/mixins.scss" as *;

.tour-card {
  background: $color-background-card;
  border: 1px solid $color-border;
  border-radius: $border-radius-base;
  overflow: hidden;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex: 1 1 0;

  &__image {
    width: 100%;
    max-height: 260px;
    aspect-ratio: 16/9;
    overflow: hidden;
    border-radius: 8px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    padding: $spacing-16 0 0;
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-size: $font-size-lg;
    font-weight: $font-weight-semibold;
    color: $color-text-primary;
    margin: 0 0 $spacing-8 0;
    font-weight: 700;
  }

  &__location {
    display: flex;
    align-items: center;
    gap: $spacing-8;
    font-weight: 600;
    font-size: $font-size-sm;
    color: $color-text-primary;
    margin-bottom: $spacing-8;
  }

  &__flag {
    width: 20px;
    height: 14px;
    object-fit: cover;
    border-radius: 2px;
  }

  &__date {
    font-size: $font-size-sm;
    color: $color-text-primary;
    margin-bottom: $spacing-4;
    font-weight: 700;

    span {
      font-weight: 300;
      @include mobile {
        display: block;
      }
    }
  }

  &__footer {
    display: flex;
    gap: 4px;
    flex-direction: column;
    margin-top: auto;
  }

  &__price {
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
    color: $color-text-primary;
  }

  &__link {
    font-size: $font-size-sm;
    color: $color-info;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
