@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.search-form {
  width: 100%;
  max-width: 700px;
  padding: $spacing-24;
  background-color: $color-background-card;
  border-radius: $border-radius-lg;
  box-shadow: $shadow-base;

  &__title {
    margin-bottom: 10px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: $spacing-16;

    @include mobile {
      flex-direction: column;
      align-items: stretch;
    }
  }

  &__field {
    flex: 1;
  }
}
