@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.home {
  padding: $spacing-32;
  @include flex-column;
  align-items: center;
  gap: $spacing-24;
  max-width: 800px;
  margin: 0 auto;

  h1 {
    text-align: center;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: $spacing-16;
    width: 100%;
  }
}
