@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: $spacing-16;
  width: 100%;
}
