@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.home {
  padding: $spacing-32;
  @include flex-column;
  align-items: center;
  gap: $spacing-24;
  max-width: 800px;
  margin: 0 auto;

  h1 {
    text-align: center;
  }

  &__results {
    width: 100%;

    pre {
      background: $color-gray-100;
      padding: $spacing-16;
      border-radius: $border-radius-base;
      overflow-x: auto;
      font-size: $font-size-sm;
    }
  }
}
