@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.home {
  padding: $spacing-32;
  @include flex-column;
  align-items: center;
  gap: $spacing-24;

  h1 {
    text-align: center;
  }
}

