@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.tour {
  max-width: 700px;
  margin: 0 auto;
  padding: $spacing-24;

  &__loader {
    display: flex;
    justify-content: center;
    padding: $spacing-48 0;
  }

  &__back {
    display: inline-block;
    margin-bottom: $spacing-16;
    color: $color-primary;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__content {
    background-color: $color-background-card;
    border-radius: $border-radius-lg;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  &__image-wrapper {
    width: 100%;
    height: 300px;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__info {
    padding: $spacing-24;
  }

  &__title {
    font-size: $font-size-xl;
    font-weight: $font-weight-bold;
    margin-bottom: $spacing-8;
  }

  &__location {
    color: $color-text-secondary;
    margin-bottom: $spacing-16;
  }

  &__description {
    margin-bottom: $spacing-24;
    line-height: 1.6;
  }

  &__services {
    margin-bottom: $spacing-24;
  }

  &__services-title {
    font-size: $font-size-base;
    font-weight: $font-weight-semibold;
    margin-bottom: $spacing-12;
  }

  &__services-list {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-8;
  }

  &__price-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: $spacing-16;
    border-top: 1px solid $color-border;
  }

  &__dates {
    display: flex;
    flex-direction: column;
    gap: $spacing-4;
  }

  &__date-label {
    font-size: $font-size-sm;
    color: $color-text-secondary;
  }

  &__date-value {
    font-weight: $font-weight-medium;
  }

  &__price {
    text-align: right;
  }

  &__price-value {
    font-size: $font-size-xl;
    font-weight: $font-weight-bold;
    color: $color-primary;
  }

  &__price-currency {
    margin-left: $spacing-4;
    font-size: $font-size-base;
    color: $color-text-secondary;
  }
}

