@use "../../styles/variables.scss" as *;

.search-results {
  &--loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-16;
    padding: $spacing-32 0;
    width: 100%;
  }

  &__loading-text {
    font-size: $font-size-base;
    color: $color-text-secondary;
  }

  &--error,
  &--empty {
    padding: $spacing-16 0;
  }
}
